
.all{
  height: 100%;
}
hr{
  margin: 1rem;
}
.count{
  display: flex;
  justify-content: space-around;
  color: #aaa;
}
.list{
  padding: 1rem;
  border-bottom: 1px solid black;
}
.list .author{
  font-size: 12px;
  display: flex;
  height: 4rem;
}
.list .author a{
  color: black;
  text-decoration: none;
}
.list .author .author-image img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.title a{
  color: black;
  text-decoration: none;
}
.lists{
  overflow-x:auto;  
  overflow-y:scroll;  
  padding-top: 5rem;
  background: #fff;
  padding-bottom: 4rem;
  height: 100%;
}